.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.tabContainer {
  display: flex;
}

.tabButton {
  flex: 1;

  font-size: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  padding: 4px;
  cursor: pointer;

  &:disabled {
    background-color: var(--color-primary);
    color: #ffffff;
    cursor: default;
  }
}

.preferencesContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
}

.checkboxContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
